#===============================================================================
# Игнорирование всех файлов в папке и подпапках проекта
*
#===============================================================================


#===============================================================================
# Исключение из игнорирования файлов Microsoft office:
!*.docx
!*.doc
!*.dot
!*.dotm
!*.dotx

!*.xlsx
!*.csv
!*.ods
!*.xlsx
!*.xlsb
!*.xlsm

!*.pptx
!*.potx
!*.pps
!*.ppsm
!*.ppsx
!*.ppt
#===============================================================================


#===============================================================================
# Игнорирование сервисных файлов microsoft office:
*.wbk
~$*
~*
*.tmp
*.original
*.autosave
#===============================================================================


#===============================================================================
# OpenDocument:
!*.odt
!*.odm
!*.html
!*.ods
!*.odg
!*.odp
!*.odf
!*.odb
!*.oxt
#===============================================================================


#===============================================================================
# Файлы с исходным кодом:
!*.c
!*.h
!*.s
#===============================================================================


#===============================================================================
# Форматы документации:
!*.pdf
!*.txt
!*.md
#===============================================================================

#===============================================================================
# Исключить из игнорирования все папки:
!*/
#===============================================================================


#===============================================================================
# Добавить в игнорирование папки, имя которых начинается со сделующих спецсимволов:
_*/
~*/
AtollicStudioWorkSpace/
Debug/
.settings/
!.cproject
!.project
!*.ld
!Linker/
!*.todo
#===============================================================================

!*.gitignore
